<%- title -%>
<h1>Listing bookmarks</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>folder_id</th>
    <th>position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= link_to_bookmark(bookmark) %></td>
    <td><%= bookmark.folder_id %></td>
    <td><%= bookmark.position %></td>
    <td>[<%= link_to 'show', bookmark %>]</td>
    <td>[<%= link_to 'edit', edit_bookmark_path(bookmark) %>]</td>
    <td>[<%= link_to 'del', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
  </tr>
<% end %>
</table>
<%= paginate @bookmarks %>

<p>
<%= link_to '新しいブックマーク - New Bookmark', new_bookmark_path %>
</p>

<%= render :partial => 'shared/menu' %>
