<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <th><%= f.label :title %></th>
    <td><%= f.text_field :title, size:40 %></td>
  </tr>
  <tr>
    <th><%= f.label :body %></th>
    <td><%= f.text_area :body, cols:35, rows:15 %></td>
  </tr>
  <tr>
    <th><%= f.label :author %></th>
    <td><%= f.text_field :author %></td>
  </tr>
  <tr>
    <th></th>
    <td>
      <%= f.submit %>
    </td>
  </tr>
</table>
  <div class="actions">

  </div>
<% end %>
<%= form_tag preview_slides_path, id: 'previewform', remote: true, method: :post do %>
  <%= submit_tag 'preview' %>
  <%= hidden_field :slide, :body, id: 'hiddenbody' %>
  <input type="hidden" id="hoge">
  <script type="text/javascript">
    $('#previewform')
      .on("ajax:before", function(){
        $('#hiddenbody').val($('#slide_body').val());
      })
      .on('ajax:success', function(event){
        const [doc, _status, _xhr] = event.detail
        $('#preview').html(doc.body);
        $('.preview-page').each(function(i,elm){
          resize(elm);
        })
      });
  </script>
<% end %>
<div id="preview"></div>
