<div class="row">
<div class="col-md-6 offset-md-3">
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  </div>
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :home %>
    <%= form.select :home_id, options_from_collection_for_select(@homes, 'id', 'name'), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, User.statuses.keys.map {|k| [k, k]}, class: 'form-control' %>
  </div>

  <%= form.submit 'save', class: 'btn btn-primary' %>
<% end %>
</div>
</div>